.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.images-team,
.images {
  list-style: none;
}

.teambg {
  background-color: #f4f4fd;
}

.images-team li {
  background-color: #fff;
}

.images-team h3,
.images-team p {
  text-align: center;
}

.ourteam-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.ourteam-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
